$body-background-color: #084AA4;
$body-background-color-secondary: #FAFBFD;
$body-background-color-accent: #F3F5F9;
$font-color: #3C4351;
$font-color-secondary: $body-background-color-secondary;
$button-primary: $body-background-color;
$button-success: #00D57F;